<script src="../capture.js"></script>
<script src="../check.js"></script>
<style>
input {
	border: 3px solid black;
}
input.required {
	border-color: red;
}
</style>
<script>

var checks = {};
checks['check-birthdate'] =
	/^$|^(0?[1-9]|[1-2][0-9]|3[0-1])\.(0?[1-9]|1[0-2])\.(19|20)[0-9]{2}$/;
checks['check-name'] = /^[a-zA-Z0-9]{5,10}$/;

capture('keypress,keyup', /(^|\s)check-/, function() {
	this.style.borderColor = check(this, checks) ? 'red' : 'black';
})

</script>
<form>
<p>
Enter your birthdate, eg. <kbd>27.4.1985</kbd><br>
<input type="text" class="check-birthdate">
(this field is <em>optional</em>)
</p>
<p>
Enter a username of 5-10 alpha-numeric characters, eg. <kbd>Cygx85</kbd><br>
<input type="text" class="check-name required">
(this field is <em>required</em>)
</p>
</form>