<script src="../capture.js"></script>
<script src="../minify.js"></script>
<script>
capture('click', 'input', function() {
	var code = this.form.elements['in'].value;
	this.form.elements['out'].value = minify(code);
});
</script>
<form>
<div><textarea cols="80" rows="10" name="in"></textarea></div>
<div><textarea cols="80" rows="10" name="out"></textarea></div>
<div><input type="button" value="minify"></div>
</form>